# Python Bytecode
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.env
env/
env.bak/
venv.bak/

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Python IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# VS Code settings
.vscode/

# Environments
.venv/


/circulars
*xlsx